configuration {
    modi: "drun,window,run";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    matching: "normal";
    sort: true;
    terminal: "wezterm";
    sidebar-mode: false;
}

@import "/tmp/rofi-dpi.rasi"
@import "~/.config/rofi/themes/drun-grid.rasi"
