@import "~/.config/rofi/config.rasi"

configuration {
    show-icons:      false;
    disable-history: true;
    hide-scrollbar:  true;
    sidebar-mode:    false;
}

window {
    width: @rofi-win-md;
    padding: @rofi-pad-16;
    border: 1px;
    border-color: @bg-col-card;
    border-radius: @rofi-bdr-radius-lg;
    background-color: @bg-col;
}

mainbox {
    border: 0;
    padding: 0;
}

inputbar {
    background-color: @bg-col-light;
    border: 0;
    border-bottom: 2px;
    border-color: @accent-col-2;
    border-radius: 8px 8px 0 0;
    padding: @rofi-pad-12;
    margin: 0 0 8px 0;
    children: [prompt];
}

prompt {
    padding: 0;
    text-color: @accent-col;
    font-weight: bold;
}

listview {
    lines: 5;
    columns: 1;
    fixed-height: 0;
    border: 0;
    spacing: @rofi-el-spacing;
    scrollbar: false;
    padding: 0;
}

element {
    padding: @rofi-el-padding-pm;
    border: 1px;
    border-color: @bg-col-card;
    border-radius: @rofi-bdr-radius8;
    background-color: @bg-col-card;
    text-color: @fg-col;
    cursor: pointer;
}

element normal {
    background-color: @bg-col-card;
    text-color: @fg-col;
    border-color: @bg-col-card;
}

element normal.active {
    background-color: rgba(255,255,255,0.05);
    border-color: @fg-col3;
}

element selected {
    background-color: @bg-col-light;
    text-color: @fg-col;
    border-color: @accent-col-2;
}

element urgent {
    background-color: @bg-col-card;
    text-color: @red;
    border-color: @red;
}

element selected.urgent {
    background-color: @bg-col-light;
    text-color: @red;
    border-color: @red;
}
