sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  isMacOS: {{ eq .chezmoi.os "darwin" }}
  isLinux: {{ eq .chezmoi.os "linux" }}
  isWindows: {{ eq .chezmoi.os "windows" }}

  user:
    name: "yuez"
    email: "i@yuez.me"

  defaultEditor: "nvim"
