Config {
    width: Relative(0.35),
    max_entries: 10,
    position: Top,
    hide_icons: false,
    hide_plugin_info: true,
    close_on_click: true,
    plugins: [
        "libanyrun_applications.so",
    ],
}
