lock_text="已锁定"
lock_timeout=0

i3lock_args="
--clock
--time-align=1
--time-color={{ .colors.text | trimPrefix "#" }}
--time-size=72
--time-font=Noto Sans CJK SC
--time-str=%H:%M
--date-str=%Y年%m月%d日 %A
--verif-text=验证中
--wrong-text=密码错误
--noinput-text=无输入
--lock-text=已锁定
--inside-color=00000000
--ring-color={{ .colors.text | trimPrefix "#" }}44
--line-color=00000000
--keyhl-color={{ .colors.text | trimPrefix "#" }}
--bshl-color={{ .colors.red | trimPrefix "#" }}
--separator-color=00000000
--insidever-color=00000000
--ringver-color={{ .colors.text | trimPrefix "#" }}44
--insidewrong-color=00000000
--ringwrong-color={{ .colors.red | trimPrefix "#" }}
--radius=80
--ring-width=4
"
