[Desktop Entry]
Type=Application
Name=nsxiv (auto-play animation)
GenericName=Image Viewer
Exec=nsxiv -a %F
NoDisplay=true
MimeType=image/gif;image/webp;
Icon=nsxiv
Categories=Graphics;Viewer;
