[Desktop Entry]
Name=Empty Trash
GenericName=Trash Manager
Comment=View and empty the trash
Exec=bash -c '~/.config/i3/scripts/trash'
Terminal=false
Type=Application
Icon=user-trash-full
Keywords=trash;empty;recycle;回收站;清空;垃圾桶;
Categories=System;Utility;
StartupNotify=false
