color={{ .colors.base }}
inside-color={{ .colors.base }}66
ring-color={{ .colors.lavender }}
line-color=00000000
key-hl-color={{ .colors.green }}
bs-hl-color={{ .colors.red }}
separator-color=00000000
inside-ver-color={{ .colors.base }}66
ring-ver-color={{ .colors.blue }}
inside-wrong-color={{ .colors.base }}66
ring-wrong-color={{ .colors.red }}
ring-width=5
radius=100
indicator-radius=120
font="Noto Sans CJK SC"
font-size=48
text-color={{ .colors.text }}
line-uses-ring=false
ignore-empty-password=true
show-failed-attempts=true
