font=Noto Sans CJK SC 10
margin=10,20,10,20
padding=8
width=300
height=120
max-visible=5
default-timeout=5000
sort=+time
anchor=top-right
ignore-timeout=0
border-size=2
border-radius=4
background-color={{ .colors.base }}
text-color={{ .colors.text }}
border-color={{ .colors.lavender }}
progress-color=over {{ .colors.surface1 }}

[urgency=low]
background-color={{ .colors.base }}
text-color={{ .colors.text }}
timeout=3000ms

[urgency=normal]
background-color={{ .colors.surface0 }}
text-color={{ .colors.text }}
timeout=5000ms

[urgency=critical]
background-color={{ .colors.red }}
text-color={{ .colors.base }}
timeout=0
