$rosewater: {{ .colors.rosewater }};
$flamingo:  {{ .colors.flamingo }};
$pink:      {{ .colors.pink }};
$mauve:     {{ .colors.mauve }};
$red:       {{ .colors.red }};
$maroon:    {{ .colors.maroon }};
$peach:     {{ .colors.peach }};
$yellow:    {{ .colors.yellow }};
$green:     {{ .colors.green }};
$teal:      {{ .colors.teal }};
$sky:       {{ .colors.sky }};
$sapphire:  {{ .colors.sapphire }};
$blue:      {{ .colors.blue }};
$lavender:  {{ .colors.lavender }};
$text:      {{ .colors.text }};
$subtext1:  {{ .colors.subtext1 }};
$subtext0:  {{ .colors.subtext0 }};
$overlay2:  {{ .colors.overlay2 }};
$overlay1:  {{ .colors.overlay1 }};
$overlay0:  {{ .colors.overlay0 }};
$surface2:  {{ .colors.surface2 }};
$surface1:  {{ .colors.surface1 }};
$surface0:  {{ .colors.surface0 }};
$base:      {{ .colors.base }};
$mantle:    {{ .colors.mantle }};
$crust:     {{ .colors.crust }};
